body{
    background-image: url(photo/Background4.jpg);
    z-index: -1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    overflow-x: hidden;
    overflow-y: hidden;
}

.youtubelick{
    background-color: #ff0000;
    border-radius: 10px;
    height: 70px;
    width: 200px;
    text-align: center;
    font-family:Bebas Neue;
    color: white;
    cursor: pointer;
}
.youtubetext{
    text-decoration: none;
    font-family: Bebas Neue;
    color: white;
    font-size: 50px;
}
.youtubefoto{
    height: 40px;
    width: 40px;
    z-index: -1;
    margin-top: 13px;
    margin-left: -15px;
}
.googlelick{
    background-color: white;
    border-radius: 10px;
    height: 70px;
    width: 200px;
    text-align: center;
    cursor: pointer;
}
.googletext{
    text-decoration: none;
    font-family: Bebas Neue;
    color: blue;
    font-size: 50px;

}
.googlefoto{
    height: 40px;
    width: 40px;
    z-index: -1;
    margin-top: 13px;
    margin-left: -15px;
}

.instagramlick{
    background-color: crimson;
    color: white;
    border-radius: 10px;
    height: 70px;
    width: 200px;
    text-align: center;
    cursor: pointer;
}
.instagramtext{
    text-decoration: none;
    font-family: Bebas Neue;
    color: white;
    font-size: 40px;
    margin-top: 10px;
}
.instagramfoto{
    height: 40px;
    width: 40px;
    z-index: -1;
    margin-top: 10px;
}
.viberlick{
    justify-content: center;
    background-color: darkviolet;
    color: white;
    border-radius: 10px;
    height: 70px;
    width: 200px;
    cursor: pointer;
}
.vibertext{
    text-decoration: none;
    font-family: Bebas Neue;
    color: white;
    font-size: 50px;
    margin-top: 30px;
    margin-left: 55px;
}

.contacts{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: 100px;
    margin-top: 100px;
}
a{
    text-decoration: none;
}
.man3{
    height: 400px;
    width: 550px;
    margin-left: 400px;
}
.phone{
    margin-left: 20px;
    margin-top: -130px;
    display: grid;
    grid-template-columns: 3fr 3fr;
    grid-column-gap: 220px;
}
.phonenumber{
    color: white;
    font-family: Bebas Neue;
    font-size: 80px;
}
.adress{
    color: white;
    font-family: Bebas Neue;
    font-size: 80px;
}
/*-------------------------------Formuar----------------------*/
#formularlink{
    text-decoration: none;
    color: red;
}