body{
    background-image:url(photo/Background5.jpg)
}
.menuformular{
    background-color: rgb(51, 51, 51);
    border-color: rgb(51, 51, 51);
    color: red;
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 200%;
    margin-left: 100px;
    text-decoration: none;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
    width: 20%;
    height: 50px;
    border-radius: 10px;
    margin-left: 40%;
}
.menuformular:hover{
    background-color: black;
}
.acasaformular{
    background-color: rgb(32, 32, 32);
    border-color: rgb(51, 51, 51);
    color: rgb(255, 74, 74);
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 600%;
    margin-left: 100px;
    text-decoration: none;
    text-align: center;
    margin-top: 50px;
    cursor: pointer;
    width: 50%;
    height: 90px;
    border-radius: 10px;
    margin-left: 26%;
}

.acasaformular:hover{
    background-color: black;
}
b{
    color: white;
}
#formlink:hover{
    color:white;
}
#formlink{
    color: red;
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    cursor: pointer;
    position: absolute;
    margin-top: 5px;
    margin-left: -28px;
}
#homelink{
    color: red;
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    cursor: pointer;
    position: absolute;
    margin-top: -14px;
    margin-left: -180px;
}
.email{
    background-color:rgb(231, 85, 85);
    border-color: black;
    border-radius: 5px;
    font-family: Bebas Neue;
    font-size: 30px;
    height: 40px;
    width: 30%;
    margin-top: 2%;
    margin-left: 35%;
}
.email:hover{
border-color: red;
background-color: rgb(250, 27, 27);
}
::placeholder{
    color: black;
}
.password{
    background-color:rgb(231, 85, 85);
    border-color: black;
    border-radius: 5px;
    font-family: Bebas Neue;
    font-size: 30px;
    height: 40px;
    width: 30%;
    margin-top: 2%;
    margin-left: 35%; 
}
.password:hover{
    border-color: red;
    background-color: rgb(250, 27, 27);
}
.abonament{
    background-color:rgb(231, 85, 85);
    border-color: black;
    border-radius: 5px;
    font-family: Bebas Neue;
    font-size: 30px;
    height: 40px;
    width: 30%;
    margin-top: 2%;
    margin-left: 35%; 
}
.abonamente:hover{
    border-color: red;
    background-color: rgb(250, 27, 27);
}
.abonamente{
    background-color:rgb(231, 85, 85);
    border-color: black;
    border-radius: 5px;
    font-family: Bebas Neue;
    font-size: 30px;
    height: 45px;
    width: 30.6%;
    margin-top: 2%;
    margin-left: 35%; 
}
.localitate{
    background-color:rgb(231, 85, 85);
    border-color: black;
    border-radius: 5px;
    font-family: Bebas Neue;
    font-size: 30px;
    height: 45px;
    width: 30.6%;
    margin-top: 2%;
    margin-left: 35%; 
}
.localitate:hover{
    border-color: red;
    background-color: rgb(250, 27, 27);
}
.card{
    background-color:rgb(231, 85, 85);
    border-color: black;
    border-radius: 5px;
    font-family: Bebas Neue;
    font-size: 30px;
    height: 40px;
    width: 30%;
    margin-top: 2%;
    margin-left: 35%;
}
.card:hover{
    border-color: red;
    background-color: rgb(250, 27, 27);
}