body{
    background-image: url(photo/Background1.JPG);
    overflow-x: hidden;
    overflow-y: hidden;
}
.textbold{
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 98px;
    color: #000000;
    top: 0px;
}
.textsimple{
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 59px;
    color: #000000;
}
.bold1{
    color: rgb(255, 0, 0)
}
.textfoto{
    display: grid;
    grid-template-columns: 600px 600px;
}
.man1{
    margin-top: 10px;
    margin-left: 0px;
    height: 590px;
    width: 570px;
    z-index: -1;
}
/* Butonul*/
.button {
    background-color: #ff0000;
    border: none;
    color: white;
    padding: 10px 62px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 8px 6px;
    cursor: pointer;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-left: 300px;
    font-family: Bebas Neue;
    font-size: 30px;
}