body{
    background-image: url(photo/Background3.jpg);
    z-index: -1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    overflow-x: hidden;
}
.grafic1{
    width: 600px;
    height: 750px;
}
.grafic2{
    width: 600px;
    height: 750px;
}
.grafics{
    margin-left: 50px;
    display: grid;
    grid-template-columns: 600px 600px;
    grid-column-gap: 50px;
}
.section1{
    display: grid;
    grid-template-columns: 140px 115px 150px;
    grid-column-gap: 30px;
    grid-row-gap: 200px;
    margin-top: -620px;
    margin-left: 145px;
}
.programbutton{
    font-family: Bebas Neue;
    font-weight: bold;
    cursor: pointer;
    color: black;
    font-size: 40px;
}
.programbutton:hover{
    color: red;
}
.section2{
    display: grid;
    grid-template-columns: 140px 115px 150px;
    grid-column-gap: 30px;
    grid-row-gap: 200px;
    margin-left: 790px;
    margin-top: -305px;
}

