/* Meniul*/
.menu{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-color: rgb(51, 51, 51);
    cursor: pointer;
    text-decoration: none;
    height: 50px;
}
#butonhome{
    color: rgb(255, 0, 0) ;
    font-family: Bebas Neue;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    margin-left: 100px;
    text-decoration: none;
    text-align: center;
    margin-top: 5px;
    cursor: pointer;
}
.butonsmenu{
    color: rgb(255, 255, 255);
    font-family:Bebas Neue ;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    margin-top: 5px;
    cursor: pointer;
}

/*-------------------------------Formuar----------------------*/
#formularlink{
    text-decoration: none;
    color: red;
}