/* Body*/
body{
background-image: url(photo/Background1.JPG);
overflow-x: hidden;
overflow-y: hidden;
}
/* Meniul*/
.Meniu{
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
background-color: rgb(51, 51, 51);
cursor: pointer;
text-decoration: none;
height: 50px;
}
#ButonAcasa{
color: rgb(255, 0, 0) ;
font-family: Bebas Neue;
font-style: normal;
font-weight: normal;
font-size: 30px;
margin-left: 100px;
text-decoration: none;
text-align: center;
margin-top: 5px;
}
.ButoaneMeniu{
color: rgb(255, 255, 255);
font-family:Bebas Neue ;
font-style: normal;
font-weight: normal;
font-size: 30px;
text-align: center;
text-decoration: none;
margin-top: 5px;
}
/* Continut din body*/
.TextBold{
font-family: Bebas Neue;
font-style: normal;
font-weight: bold;
font-size: 72px;
line-height: 98px;
color: #000000;
top: 0px;
}
.TextSimplu{
font-family: Bebas Neue;
font-style: normal;
font-weight: normal;
font-size: 50px;
line-height: 59px;
color: #000000;
}
.Bold1{
color: rgb(255, 0, 0)
}
.TextFoto{
display: grid;
grid-template-columns: 600px 600px;
}
.Man1{
margin-top: 10px;
margin-left: 0px;
height: 590px;
width: 570px;
z-index: -1;
}
/* Butonul*/
.button {
background-color: #ff0000;
border: none;
color: white;
padding: 10px 62px;
text-align: center;
text-decoration: none;
display: inline-block;
margin: 8px 6px;
cursor: pointer;
border-top-right-radius: 10px;
border-top-left-radius: 10px;
border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;
margin-left: 300px;
font-family: Bebas Neue;
font-size: 30px;
}
/* --------------------------Abonamente-----------------------------*/
#AbonamenteFoto{
    width: 500px;
    height: 600px;
    margin-top: 10px;
    margin-left: 50px;
}
#DivMan2{
    height: 750px;
    width: 490px;
    margin-top: -80px;
}
.Abonamente{
    display: grid;
    grid-template-columns: 500px 300px;
    grid-column-gap: 100px;
    margin-left: 150px;
}